<section class="vh-100" style="background-color: #a7c0ee;">
    <div class="container py-4 h-100">
        <form>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-left">
                            <div class="row">
                                <div class="form-group col-md-12">
                                <h3 class="mb-4">Welcome {{userName}}</h3>
                                    <h5>{{message()}}</h5>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br/>
        <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  
    </div>
</section>